.main {
  height: 800px;
  width: 1000px;
  margin: auto;
  background: #fff;
  box-sizing: border-box;
  padding: 40px;
}

.bg-img {
  background: url(../images/yoda.jpg) left center no-repeat;
  background-size: 300px auto;
  height: 188px;
}

@media only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

         .bg-img {
           background-image: url(../images/yoda@2x.jpg);
         }

}
